:root {
    --main: #004225;
    --main-dark: #002a1a;
    --bg: #001b12;
    --text: #e7f7ec;
    --accent: #00ff99;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: "Inter", sans-serif;
}

body {
    background: var(--bg);
    color: var(--text);
    display: flex;
    justify-content: center;
    padding: 20px;
}

.app {
    width: 100%;
    max-width: 500px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

h1 {
    font-size: 26px;
    font-weight: 700;
}

/* ICON BUTTON */
.icon-btn {
    background: transparent;
    color: var(--accent);
    font-size: 28px;
    line-height: 28px;
    border: none;
    cursor: pointer;
}

/* FOLDER LIST */
.folder-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.folder {
    background: linear-gradient(145deg, #003520, #002a1a);
    padding: 18px;
    border-radius: 18px;
    box-shadow: 0 2px 10px rgba(0, 255, 153, 0.08);
    cursor: pointer;
    transition: 0.2s;
}

.folder:hover {
    box-shadow: 0 4px 20px rgba(0, 255, 153, 0.15);
}

.folder-title {
    font-size: 18px;
    margin-bottom: 6px;
}

.folder-info {
    font-size: 13px;
    opacity: 0.6;
}

/* MAIN BUTTON */
.main-action {
    width: 100%;
    margin-top: 25px;
    background: var(--main);
    padding: 15px;
    color: var(--text);
    font-size: 18px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,255,153,0.15);
}

.main-action:hover {
    background: var(--main-dark);
}

/* MODAL */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.55);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden { display: none; }

.modal-content {
    background: #003020;
    padding: 22px;
    border-radius: 18px;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 0 25px rgba(0,255,153,0.2);
}

.modal-content input {
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #002518;
    color: var(--text);
    font-size: 15px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal-save {
    background: var(--main);
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    color: white;
}

.modal-close {
    background: #001d14;
    border: 1px solid #003520;
    padding: 10px 20px;
    border-radius: 12px;
    color: var(--text);
}
html, body {
    height: 100%;
}

.app {
    min-height: 100%;
    padding-bottom: 40px;
}

